{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <article>
        <header>
            <h1>{{ post.title }}</h1>

            <twig:PostMeta :post="post" />
        </header>

        <section>
            {{ post.content|markdown }}
        </section>

    </article>
{% endblock %}
