<ul{{ attributes.defaults({
    class: 'flex flex-row flex-wrap gap-2'
}) }}>
    {% for tag in tags %}
        <li>
            <twig:Badge>
                <a
                    href="{{ path(constant('App\\Blog\\Domain\\Data\\Route::TAG_VIEW').value, {tag: tag.tag}) }}"
                    title="{{ ('View all posts tagged with "' ~ tag.tag ~ '"')|e('html_attr') }}"
                >
                    {{- tag.tag ~ ' (' ~ tag.occurrences ~ ')' -}}
                </a>
            </twig:Badge>
        </li>
    {% endfor %}
</ul>
