doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
        types:
            place_id: App\Shared\Infrastructure\Database\Doctrine\DBAL\Types\PlaceIdType
            post_id: App\Shared\Infrastructure\Database\Doctrine\DBAL\Types\PostIdType
            professional_experience_id: App\Shared\Infrastructure\Database\Doctrine\DBAL\Types\ProfessionalExperienceIdType
            project_id: App\Shared\Infrastructure\Database\Doctrine\DBAL\Types\ProjectIdType
            user_id: App\Shared\Infrastructure\Database\Doctrine\DBAL\Types\UserIdType

    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        dql:
            string_functions:
                CONTAINS: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\Contains # @>
                JSONB_ARRAY_ELEMENTS_TEXT: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\JsonbArrayElementsText

        auto_mapping: true
        mappings:
            Blog:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Blog/Domain'
                prefix: 'App\Blog\Domain'
            CV:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/CV/Domain'
                prefix: 'App\CV\Domain'
            Places:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/Places/Domain'
                prefix: 'App\Places\Domain'
            User:
                is_bundle: false
                type: attribute
                dir: '%kernel.project_dir%/src/User/Domain'
                prefix: 'App\User\Domain'
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
