includes:
    - vendor/kocal/phpstan-symfony-ux/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/symfony-configuration.php
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tools/
        #- tests/

    tmpDir: .cache/phpstan

    symfony:
        consoleApplicationLoader: tools/phpstan/console-application.php

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php

rules:
    - Kocal\PHPStanSymfonyUX\Rules\TwigComponent\ClassMustBeFinalRule

services:
	-
		class: App\PHPStan\Type\CommandBusDispatchDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
