parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Admin/Infrastructure/Cli/Command/AdminCreate.php

		-
			message: "#^Method App\\\\Blog\\\\Domain\\\\Repository\\\\PostRepository\\:\\:findTags\\(\\) should return array\\<string\\> but returns array\\.$#"
			count: 1
			path: src/Blog/Domain/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Blog\\\\Domain\\\\Repository\\\\PostRepository\\:\\:findTagsAndOccurrences\\(\\) should return array\\<int, array\\{tag\\: string, occurrences\\: int\\}\\> but returns mixed\\.$#"
			count: 1
			path: src/Blog/Domain/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Blog\\\\Domain\\\\Repository\\\\PostRepository\\:\\:getOneLatestPublished\\(\\) should return App\\\\Blog\\\\Domain\\\\Post but returns mixed\\.$#"
			count: 1
			path: src/Blog/Domain/Repository/PostRepository.php

		-
			message: "#^Parameter \\#1 \\$input of callable App\\\\Shared\\\\Markdown\\\\MarkdownConverter expects string, string\\|null given\\.$#"
			count: 1
			path: src/Blog/Infrastructure/Http/Controller/Post/ViewController.php

		-
			message: "#^Method App\\\\CV\\\\Infrastructure\\\\Doctrine\\\\Repository\\\\ProfessionalExperienceORMRepository\\:\\:findOneLatest\\(\\) should return App\\\\CV\\\\Domain\\\\ProfessionalExperience\\|null but returns mixed\\.$#"
			count: 1
			path: src/CV/Infrastructure/Doctrine/Repository/ProfessionalExperienceORMRepository.php

		-
			message: "#^Method App\\\\CV\\\\Infrastructure\\\\Doctrine\\\\Repository\\\\ProjectORMRepository\\:\\:findOneLatest\\(\\) should return App\\\\CV\\\\Domain\\\\Project\\|null but returns mixed\\.$#"
			count: 1
			path: src/CV/Infrastructure/Doctrine/Repository/ProjectORMRepository.php

		-
			message: "#^Method App\\\\Places\\\\Infrastructure\\\\Doctrine\\\\Repository\\\\PlaceORMRepository\\:\\:getOneLatestUpdated\\(\\) should return App\\\\Places\\\\Domain\\\\Place but returns mixed\\.$#"
			count: 1
			path: src/Places/Infrastructure/Doctrine/Repository/PlaceORMRepository.php

		-
			message: "#^Cannot call method getControllerFqcn\\(\\) on EasyCorp\\\\Bundle\\\\EasyAdminBundle\\\\Dto\\\\CrudDto\\|null\\.$#"
			count: 1
			path: src/Places/Infrastructure/EasyAdmin/Controller/PlaceCrudController.php

		-
			message: "#^Method App\\\\Shared\\\\Http\\\\Cache\\\\HttpCacheAdapterFactory\\:\\:__invoke\\(\\) should return App\\\\Shared\\\\Http\\\\Cache\\\\Adapter\\\\HttpCacheAdapter but returns mixed\\.$#"
			count: 1
			path: src/Shared/Http/Cache/HttpCacheAdapterFactory.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Cuyz/Valinor/Mapper/ValinorObjectMapper.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Cuyz/Valinor/Mapper/ValinorObjectMapper.php

		-
			message: "#^Property App\\\\Shared\\\\Infrastructure\\\\Symfony\\\\Messenger\\\\MessengerCommandBus\\:\\:\\$messageBus is never read, only written\\.$#"
			count: 1
			path: src/Shared/Infrastructure/Symfony/Messenger/MessengerCommandBus.php

		-
			message: "#^Parameter \\#3 \\$contents of class League\\\\CommonMark\\\\Util\\\\HtmlElement constructor expects array\\<Stringable\\>\\|string\\|Stringable\\|null, array\\<int, string\\> given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/FencedCode/Renderer/FencedCodeRenderer.php

		-
			message: "#^Parameter \\#3 \\$contents of class League\\\\CommonMark\\\\Util\\\\HtmlElement constructor expects array\\<Stringable\\>\\|string\\|Stringable\\|null, int\\<1, max\\> given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/FencedCode/Renderer/FencedCodeRenderer.php

		-
			message: "#^Parameter \\#1 \\$string of function Symfony\\\\Component\\\\String\\\\s expects string\\|null, string\\|Stringable\\|null given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/TempestHighlight/Renderer/CodeBlockRendererDecorator.php

		-
			message: "#^Call to an undefined method League\\\\CommonMark\\\\Node\\\\Node\\:\\:getUrl\\(\\)\\.$#"
			count: 1
			path: src/Shared/Markdown/MarkdownConverter.php
