parameters:
	ignoreErrors:
		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: src/Cli/Command/AdminCreate.php

		-
			message: "#^Method App\\\\Domain\\\\Blog\\\\Repository\\\\PostRepository\\:\\:findTags\\(\\) should return array\\<string\\> but returns array\\.$#"
			count: 1
			path: src/Domain/Blog/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Domain\\\\Blog\\\\Repository\\\\PostRepository\\:\\:findTagsAndOccurrences\\(\\) should return array\\<int, array\\{tag\\: string, occurrences\\: int\\}\\> but returns mixed\\.$#"
			count: 1
			path: src/Domain/Blog/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Domain\\\\Blog\\\\Repository\\\\PostRepository\\:\\:getOneLatestPublished\\(\\) should return App\\\\Domain\\\\Blog\\\\Post but returns mixed\\.$#"
			count: 1
			path: src/Domain/Blog/Repository/PostRepository.php

		-
			message: "#^Method App\\\\Domain\\\\CV\\\\Repository\\\\ProfessionalExperienceRepository\\:\\:findOneLatest\\(\\) should return App\\\\Domain\\\\CV\\\\ProfessionalExperience\\|null but returns mixed\\.$#"
			count: 1
			path: src/Domain/CV/Repository/ProfessionalExperienceRepository.php

		-
			message: "#^Method App\\\\Domain\\\\CV\\\\Repository\\\\ProjectRepository\\:\\:findOneLatest\\(\\) should return App\\\\Domain\\\\CV\\\\Project\\|null but returns mixed\\.$#"
			count: 1
			path: src/Domain/CV/Repository/ProjectRepository.php

		-
			message: "#^Method App\\\\Http\\\\Cache\\\\HttpCacheAdapterFactory\\:\\:__invoke\\(\\) should return App\\\\Http\\\\Cache\\\\Adapter\\\\HttpCacheAdapter but returns mixed\\.$#"
			count: 1
			path: src/Http/Cache/HttpCacheAdapterFactory.php

		-
			message: "#^Parameter \\#1 \\$input of callable App\\\\Shared\\\\Markdown\\\\MarkdownConverter expects string, string\\|null given\\.$#"
			count: 1
			path: src/Http/Controller/Blog/Post/ViewController.php

		-
			message: "#^Parameter \\#3 \\$contents of class League\\\\CommonMark\\\\Util\\\\HtmlElement constructor expects array\\<Stringable\\>\\|string\\|Stringable\\|null, array\\<int, string\\> given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/FencedCode/Renderer/FencedCodeRenderer.php

		-
			message: "#^Parameter \\#3 \\$contents of class League\\\\CommonMark\\\\Util\\\\HtmlElement constructor expects array\\<Stringable\\>\\|string\\|Stringable\\|null, int\\<1, max\\> given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/FencedCode/Renderer/FencedCodeRenderer.php

		-
			message: "#^Parameter \\#1 \\$string of function Symfony\\\\Component\\\\String\\\\s expects string\\|null, string\\|Stringable\\|null given\\.$#"
			count: 1
			path: src/Shared/Markdown/Extension/TempestHighlight/Renderer/CodeBlockRendererDecorator.php

		-
			message: "#^Call to an undefined method League\\\\CommonMark\\\\Node\\\\Node\\:\\:getUrl\\(\\)\\.$#"
			count: 1
			path: src/Shared/Markdown/MarkdownConverter.php
