includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/symfony-configuration.php
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - bin/
        - config/
        - public/
        - src/
        #- tests/

    symfony:
        console_application_loader: tools/phpstan/console-application.php

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php
