includes:
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/symfony-configuration.php
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src

    symfony:
        console_application_loader: tools/phpstan/console-application.php

    doctrine:
        objectManagerLoader: tools/phpstan/object-manager.php