{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	#order mercure after encode
	#order vulcain after reverse_proxy
	order php_server before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	log {
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

    redir /_posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer.html                                https://hugo.alliau.me/blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                            301
    redir /2020/01/02/generate-pdfs-on-amazon-aws-with-php-and-puppeteer/                                           https://hugo.alliau.me/blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                            301
    redir /blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer.md                              https://hugo.alliau.me/blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                            301
    redir /posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                      https://hugo.alliau.me/blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                            301
    redir /2020/01/02/generate-pdfs-on-amazon-aws-with-php-and-puppeteer/                                           https://hugo.alliau.me/blog/posts/2020-01-02-generate-pdfs-on-amazon-aws-with-php-and-puppeteer                                            301
    redir /posts/2021-04-26-migration-stack-developpement                                                           https://hugo.alliau.me/blog/posts/2021-04-26-migration-de-notre-stack-de-developpement-vers-docker                                         301
    redir /2021/04/26/migration-stack-developpement/                                                                https://hugo.alliau.me/blog/posts/2021-04-26-migration-de-notre-stack-de-developpement-vers-docker                                         301
    redir /2021/04/26/migration-stack-developpement//1000                                                           https://hugo.alliau.me/blog/posts/2021-04-26-migration-de-notre-stack-de-developpement-vers-docker                                         301
    redir /blog/posts/2021-04-26-migration-stack-developpement.md                                                   https://hugo.alliau.me/blog/posts/2021-04-26-migration-de-notre-stack-de-developpement-vers-docker                                         301
    redir /posts/2021-04-26-migration-stack-developpement.html                                                      https://hugo.alliau.me/blog/posts/2021-04-26-migration-de-notre-stack-de-developpement-vers-docker                                         301
    redir /2021/05/04/migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets/            https://hugo.alliau.me/blog/posts/2021-05-04-migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets             301
    redir /2022/01/07/doctrine-setmaxresults-and-collections-associations-are-on-a-boat/                            https://hugo.alliau.me/blog/posts/2022-01-07-doctrine-querybuilder-setmaxresults-and-collections-associations-are-on-a-boat                301
    redir /2020/04/21/generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way/                              https://hugo.alliau.me/blog/posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way                               301
    redir /posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way                         https://hugo.alliau.me/blog/posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way                               301
    redir /posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way.html                    https://hugo.alliau.me/blog/posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way                               301
    redir /blog/posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way.md                 https://hugo.alliau.me/blog/posts/2020-04-21-generate-pdfs-on-amazon-aws-with-php-and-puppeteer-the-best-way                               301
    redir /posts/2021-05-04-migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets       https://hugo.alliau.me/blog/posts/2021-05-04-migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets             301
    redir /posts/2021-05-04-migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets.html  https://hugo.alliau.me/blog/posts/2021-05-04-migration-to-github-native-dependabot-solutions-for-auto-merge-and-action-secrets             301
    redir /posts/2022-01-07-doctrine-setmaxresults-and-collections-associations-are-on-a-boat                       https://hugo.alliau.me/blog/posts/2022-01-07-doctrine-querybuilder-setmaxresults-and-collections-associations-are-on-a-boat                301
    redir /posts/2022-01-07-doctrine-setmaxresults-and-collections-associations-are-on-a-boat.html                  https://hugo.alliau.me/blog/posts/2022-01-07-doctrine-querybuilder-setmaxresults-and-collections-associations-are-on-a-boat                301
    redir /posts/2023-07-19-how-to-use-php-cs-fixer-ruleset-with-easy-coding-standard.html                          https://hugo.alliau.me/blog/posts/2023-07-19-how-to-use-php-cs-fixer-ruleset-with-easy-coding-standard                                     301
    redir /posts/2023-07-19-how-to-use-php-cs-fixer-ruleset-with-easy-coding-standard                               https://hugo.alliau.me/blog/posts/2023-07-19-how-to-use-php-cs-fixer-ruleset-with-easy-coding-standard                                     301
    redir /posts/2023-10-21-blackfire-and-symfony-cli.html                                                          https://hugo.alliau.me/blog/posts/2023-10-21-profiling-curl-http-requests-and-symfony-commands-with-blackfire-when-using-the-symfony-cli   301
    redir /blog/posts/2023-10-21-blackfire-and-symfony-cli.md                                                       https://hugo.alliau.me/blog/posts/2023-10-21-profiling-curl-http-requests-and-symfony-commands-with-blackfire-when-using-the-symfony-cli   301
    redir /posts/2023-11-12-listen-to-doctrine-events-on-entities-given-a-php-attribute                             https://hugo.alliau.me/blog/posts/2023-11-12-listen-to-doctrine-events-on-entities-using-a-php-attribute                                   301
    redir /posts/2023-11-12-listen-to-doctrine-events-on-entities-given-a-php-attribute.html                        https://hugo.alliau.me/blog/posts/2023-11-12-listen-to-doctrine-events-on-entities-using-a-php-attribute                                   301
    redir /feed.atom  https://hugo.alliau.me/blog/rss.xml     301
    redir /rss.xml    https://hugo.alliau.me/blog/rss.xml     301
    redir /tag/                                 https://hugo.alliau.me/blog/tags                                   301
    redir /tags                                 https://hugo.alliau.me/blog/tags                                   301
    redir /tags.html                            https://hugo.alliau.me/blog/tags                                   301
    redir /tag/aws                              https://hugo.alliau.me/blog/tags/amazon-aws                        301
    redir /tag/aws/                             https://hugo.alliau.me/blog/tags/amazon-aws                        301
    redir /tags/amazon-aws                      https://hugo.alliau.me/blog/tags/amazon-aws                        301
    redir /tags/amazon-aws.html                 https://hugo.alliau.me/blog/tags/amazon-aws                        301
    redir /tags/blackfire                       https://hugo.alliau.me/blog/tags/blackfire                         301
    redir /tags/blackfire.html                  https://hugo.alliau.me/blog/tags/blackfire                         301
    redir /tags/browsershot.html                https://hugo.alliau.me/blog/tags/browsershot                       301
    redir /tags/browsershot                     https://hugo.alliau.me/blog/tags/browsershot                       301
    redir /tags/chrome.html                     https://hugo.alliau.me/blog/tags/chrome                            301
    redir /tags/chrome                          https://hugo.alliau.me/blog/tags/chrome                            301
    redir /tag/chrome                           https://hugo.alliau.me/blog/tags/chrome                            301
    redir /tags/continuous-integration          https://hugo.alliau.me/blog/tags/continuous-integration            301
    redir /tags/continuous-integration.html     https://hugo.alliau.me/blog/tags/continuous-integration            301
    redir /tags/database                        https://hugo.alliau.me/blog/tags/database                          301
    redir /tags/database.html                   https://hugo.alliau.me/blog/tags/database                          301
    redir /tag/dependabot                       https://hugo.alliau.me/blog/tags/dependabot                        301
    redir /tags/dependabot                      https://hugo.alliau.me/blog/tags/dependabot                        301
    redir /tags/dependabot.html                 https://hugo.alliau.me/blog/tags/dependabot                        301
    redir /tags/dependencies                    https://hugo.alliau.me/blog/tags/dependencies                      301
    redir /tags/dependencies.html               https://hugo.alliau.me/blog/tags/dependencies                      301
    redir /tag/doctrine                         https://hugo.alliau.me/blog/tags/doctrine                          301
    redir /tags/doctrine                        https://hugo.alliau.me/blog/tags/doctrine                          301
    redir /tags/doctrine%20entity%20listener.html   https://hugo.alliau.me/blog/tags/doctrine%20entity%20listener  301
    redir /tags/doctrine.html                   https://hugo.alliau.me/blog/tags/doctrine                          301
    redir /tags/docker.html                     https://hugo.alliau.me/blog/tags/docker                            301
    redir /tags/easy-coding-standard.html       https://hugo.alliau.me/blog/tags/easy-coding-standard              301
    redir /tag/github                           https://hugo.alliau.me/blog/tags/github                            301
    redir /tags/github                          https://hugo.alliau.me/blog/tags/github                            301
    redir /tags/github.html                     https://hugo.alliau.me/blog/tags/github                            301
    redir /tags/makefile                        https://hugo.alliau.me/blog/tags/makefile                          301
    redir /tags/makefile.html                   https://hugo.alliau.me/blog/tags/makefile                          301
    redir /tag/php                              https://hugo.alliau.me/blog/tags/php                               301
    redir /tags/php                             https://hugo.alliau.me/blog/tags/php                               301
    redir /tags/php/                            https://hugo.alliau.me/blog/tags/php                               301
    redir /tags/php.html                        https://hugo.alliau.me/blog/tags/php                               301
    redir /tags/profiling                       https://hugo.alliau.me/blog/tags/profiling                         301
    redir /tags/profiling.html                  https://hugo.alliau.me/blog/tags/profiling                         301
    redir /tags/puppeteer                       https://hugo.alliau.me/blog/tags/puppeteer                         301
    redir /tags/puppeteer.html                  https://hugo.alliau.me/blog/tags/puppeteer                         301
    redir /tags/symfony-cli                     https://hugo.alliau.me/blog/tags/symfony-cli                       301
    redir /tags/symfony-cli.html                https://hugo.alliau.me/blog/tags/symfony-cli                       301
    redir /tags/symfony%20cli                   https://hugo.alliau.me/blog/tags/symfony-cli                       301
    redir /tags/symfony%20cli/                  https://hugo.alliau.me/blog/tags/symfony-cli                       301
    redir /tags/symfony%20cli.html              https://hugo.alliau.me/blog/tags/symfony-cli                       301
    redir /tags/symfony                         https://hugo.alliau.me/blog/tags/symfony                           301
    redir /tags/symfony.html                    https://hugo.alliau.me/blog/tags/symfony                           301
    redir /tags/virtual-machine                 https://hugo.alliau.me/blog/tags/virtual-machine                   301
    redir /tags/virtual-machine.html            https://hugo.alliau.me/blog/tags/virtual-machine                   301
    redir /tags/virtual%20machine.html          https://hugo.alliau.me/blog/tags/virtual-machine                   301
    redir /tags/virtual%20machine/              https://hugo.alliau.me/blog/tags/virtual-machine                   301
    redir /blog/posts/home                      https://hugo.alliau.me/blog                                        301 

	root * /app/public
	encode zstd br gzip

   	 @assets {
		file
		path *.css *.js *.svg *.png *.jpg *.jpeg *.gif *.webp *.ico *.woff *.woff2 *.ttf *.otf *.eot
	 }
	 header @assets Cache-Control "public, max-age=31536000, immutable"

	#mercure {
	#	# Transport to use (default to Bolt)
	#	transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
	#	# Publisher JWT key
	#	publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
	#	# Subscriber JWT key
	#	subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
	#	# Allow anonymous subscribers (double-check that it's what you want)
	#	anonymous
	#	# Enable the subscription API (double-check that it's what you want)
	#	subscriptions
	#	# Extra directives
	#	{$MERCURE_EXTRA_DIRECTIVES}
	#}

	#vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	php_server
}
