{% extends 'blog/base.html.twig' %}

{% block title %}Tags &bullet; Hugo Alliaume's Blog{% endblock %}

{% block main %}
    <main class="container mx-auto p-2 sm:py-4 max-w-screen-lg">
        <twig:Card class="p-2 sm:p-4">
            <h1 class="text-3xl sm:text-4xl font-extrabold mb-5 tracking-tight">
                Tags
            </h1>

            <twig:Blog:CloudOfTags :tags="tags" />
        </twig:Card>
    </main>
{% endblock %}
