@import "tailwindcss";
@source not "../../public";

@theme {
    --font-sans: "Inter var", "Inter Variable Fallback", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI", "Symbol", "Noto Color Emoji";
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

    --color-primary-50: var(--color-pink-50);
    --color-primary-500: var(--color-pink-500);
    --color-primary-600: var(--color-pink-600);
    --color-primary-700: var(--color-pink-700);
    --color-primary-800: var(--color-pink-800);

    --color-bsky: #0a7aff;
    --color-github: #181717;
    --color-twitter: #00acee;
    --color-linkedin: #0077b5;
    --color-mastodon: #5c4adf;

    --terminal-text-color: #d4dae3;
    --terminal-bg-color: #282c34;
    --terminal-header-bg-color: var(--color-gray-900);
    --terminal-border-radius: var(--radius-lg);
    --terminal-body-padding-y: --spacing(4);
    --terminal-body-padding-x: --spacing(6);
}

@layer base {
    @font-face {
        font-family: Inter var;
        font-weight: 100 900;
        font-display: swap;
        font-style: normal;
        font-named-instance: "Regular";
        src: url('../vendor/inter-ui/variable/InterVariable.woff2') format("woff2")
    }
    @font-face {
        font-family: Inter var;
        font-weight: 100 900;
        font-display: swap;
        font-style: italic;
        font-named-instance: "Regular";
        src: url('../vendor/inter-ui/variable/InterVariable-Italic.woff2') format("woff2")
    }
}

@layer components {
    .prose {
        font-size: var(--text-lg);
        line-height: --spacing(8);
        text-wrap: pretty;

        h2 {
            font-size: var(--text-3xl);
            margin: --spacing(7) 0;
            line-height: --spacing(10);
            color: light-dark(var(--color-black), var(--color-white));
        }

        h3 {
            font-size: var(--text-2xl);
            margin: --spacing(5) 0;
            line-height: --spacing(8);
            color: light-dark(var(--color-black), var(--color-white));
        }

        p, .CustomContainer, .Terminal, blockquote {
            margin-top: --spacing(5);
            margin-bottom: --spacing(5);
        }

        a {
            color: var(--color-primary-600);
            text-decoration: underline;

            &:hover {
                color: var(--color-primary-700);
            }
        }

        *:not(pre) > code {
            padding: --spacing(1);
            border-radius: var(--terminal-border-radius);
            overflow-wrap: break-word;
            font-size: 85%;
            background-color: var(--terminal-bg-color);
            color: var(--terminal-text-color);
        }

        blockquote {
            font-style: italic;
            border-inline-start: 4px solid light-dark(var(--color-gray-300), var(--color-gray-600));
            background-color: light-dark(var(--color-gray-100), var(--color-gray-800));
            padding: --spacing(2) --spacing(4);
            quotes: "“" "”" "‘" "’";
        }

        table {
            --table-border-color: light-dark(var(--color-gray-300), var(--color-gray-600));
            width: 100%;
            margin-block: --spacing(4);
            border-collapse: collapse;
            border-radius: var(--radius-md);
            outline: 1px solid var(--table-border-color);

            th {
                background-color: light-dark(var(--color-gray-100), var(--color-gray-700));
                font-weight: var(--font-weight-semibold);
            }

            th, td {
                padding: --spacing(1) --spacing(2);
                border-bottom: 1px solid var(--table-border-color);
            }
        }

        ol, ul {
            margin-top: --spacing(5);
            margin-bottom: --spacing(5);
            padding-inline-start: --spacing(6);

            > li {
                padding-inline-start: --spacing(2);
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            margin-top: --spacing(2);
            margin-bottom: --spacing(2);
        }

        > ul > li p,
        > ol > li p {
            margin-top: --spacing(2);
            margin-bottom: --spacing(2);
        }

        > ul > li > p:first-child,
        > ol > li > p:first-child {
            margin-top: --spacing(2);
        }

        > ul > li > p:last-child,
        > ol > li > p:last-child {
            margin-bottom: --spacing(2);
        }

        ul ul, ul ol, ol ul, ol ol {
            margin-top: --spacing(3);
            margin-bottom: --spacing(3);
        }

        h2 + *, h3 + * {
            margin-top: 0;
        }

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        @media (width >= theme(--breakpoint-sm)) {
            font-size: var(--text-xl);
            line-height: --spacing(10);

            h2 {
                font-size: var(--text-4xl);
                margin: --spacing(10) 0;
                line-height: --spacing(12);
            }

            h2 {
                font-size: var(--text-3xl);
                margin: --spacing(8) 0;
                line-height: --spacing(10);
            }
        }
    }
}

@layer components {
    .CustomContainer {
        --custom-container-color: theme('colors.gray.900');
        --custom-container-bg-color: theme('colors.gray.100');

        padding: theme('spacing.3');
        border-radius: theme('borderRadius.md');
        color: var(--custom-container-color);
        background-color: var(--custom-container-bg-color);
    }

    .CustomContainer * {
        color: inherit;
    }

    .CustomContainer__Title {
        margin: 0 0 --spacing(2) 0;
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        font-size: var(--text-sm);
    }

    .CustomContainer--info {
        --custom-container-color: light-dark(theme('colors.blue.900'), theme('colors.blue.100'));
        --custom-container-bg-color: light-dark(theme('colors.blue.100'), theme('colors.blue.900'));
    }

    .CustomContainer--tip {
        --custom-container-color: light-dark(theme('colors.green.900'), theme('colors.green.100'));
        --custom-container-bg-color: light-dark(theme('colors.green.100'), theme('colors.green.900'));
    }

    .CustomContainer--warning {
        --custom-container-color: light-dark(theme('colors.yellow.900'), theme('colors.yellow.100'));
        --custom-container-bg-color: light-dark(theme('colors.yellow.100'), theme('colors.yellow.900'));
    }

    .CustomContainer--danger {
        --custom-container-color: light-dark(theme('colors.red.900'), theme('colors.red.100'));
        --custom-container-bg-color: light-dark(theme('colors.red.100'), theme('colors.red.900'));
    }
}

@layer components {
    .heading-permalink {
        color: theme('colors.gray.500');
        text-decoration: none !important;
        margin-right: theme('spacing.1');

        &:before {
            content: '#';
        }
    }
}

@layer components {
    pre {
        max-height: 100dvh;
        overflow: auto;
    }
}

@layer components {
    .Terminal {
        color: var(--terminal-text-color);
        background-color: var(--terminal-bg-color);
        border-radius: var(--terminal-border-radius);
        font-size: 16px;
        line-height: --spacing(6);
    }

    .Terminal__Header {
        background-color: var(--terminal-header-bg-color);
        border-radius: var(--terminal-border-radius) var(--terminal-border-radius) 0 0;
        font-family: var(--font-mono);
        font-size: var(--text-sm);
        font-weight: bold;
        padding: --spacing(1) --spacing(3);
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .Terminal__Body {
        border-radius: var(--terminal-border-radius);

        pre {
            position: relative;
            overflow-x: auto;
            text-align: left;
            border-radius: var(--terminal-border-radius);
            padding: var(--terminal-body-padding-y) 0;

            code {
                display: block;
                width: fit-content;
                min-width: 100%;
                padding: 0 var(--terminal-body-padding-x);
            }
        }
    }
}

@layer components {
    .shiki {
        .line {
            position: relative;
            display: inline-block;
            min-width: 100%;

            &.diff {
                margin: 0 calc(var(--terminal-body-padding-x) * -1);
                padding-left: calc(var(--terminal-body-padding-x) * 1);
                width: calc(100% + 2 * var(--terminal-body-padding-x));
            }

            &.diff::before {
                position: absolute;
                user-select: none;
                left: 1ch;
            }

            &.diff.add {
                background-color: color-mix(in srgb, var(--color-green-500) 20%, transparent);

                &::before {
                    content: '+ ';
                    color: var(--color-green-500);
                }
            }

            &.diff.remove {
                background-color: color-mix(in srgb, var(--color-red-500) 20%, transparent);

                &::before {
                    content: '- ';
                    color: var(--color-red-500);
                }
            }
        }
    }
}
