{% extends 'base.html.twig' %}

{% block title %}Hugo Alliaume{% endblock %}

{% block main %}
    <section itemscope itemtype="https://schema.org/Person">
        <h2>À propos</h2>
        <p>
            <span itemprop="name">Hugo Alliaume</span>,
            <span itemprop="disambiguatingDescription">bientôt 30 ans, développeur web full-stack depuis une quinzaine d'années.</span>
        </p>
        <p>
            <span itemprop="disambiguatingDescription">
                Je suis spécialisé dans le développement d'applications web, principalement avec les technologies PHP/Symfony et JavaScript.
            </span>
        </p>
    </section>

    <section>
        <h2>Curriculum vitæ</h2>
        <p>
            Vous pouvez consulter mon <a href="{{ prefetch('/cv') }}">CV</a> pour en savoir plus sur mon parcours professionnel et mes compétences.
        </p>
    </section>

    <section>
        <h2>Blog</h2>
        <p>
            Je tiens un <a href="{{ prefetch('/blog') }}">blog technique</a>, où je partage mes découvertes et mes expériences en développement web.
        </p>
    </section>

    <section>
        <h2>Réseaux sociaux</h2>
        <p>
            Vous pouvez me suivre sur <a href="https://twitter.com/hugoalliaume">X (anciennement Twitter)</a> et <a href="https://github.com/Kocal">GitHub</a>.
        </p>
    </section>
{% endblock %}
