<footer {{ attributes.defaults({
    role: 'contentinfo',
    class: 'print:hidden'
}) }}>
    <div class="max-w-min text-nowrap mx-auto mb-2 text-center bg-white rounded-full text-sm sm:text-base py-1 px-2 sm:px-3 shadow ">
        Hugo Alliaume ❤️ {{ 'now'|date('Y') }}
        &bullet;
        <code><a href="https://github.com/Kocal/hugo.alliau.me/commit/{{ SOURCE_COMMIT }}">{{ SOURCE_COMMIT|slice(0, 8) }}</a></code>
    </div>
</footer>
