<header class="z-10 sticky top-0 print:hidden">
    <twig:Navbar>
        <twig:Navbar:LogoText as="a" href="{{ path(constant('App\\Shared\\Domain\\Route::HOME').value) }}">
            Hugo Alliaume
        </twig:Navbar:LogoText>

        {{ knp_menu_render('main', {
            template: 'menu/main.html.twig',
        }) }}

        <twig:Navbar:Menu>
            <twig:Navbar:MenuItem>
                <a href="https://github.com/Kocal" class="block text-md sm:text-lg hover:text-github transition-colors" title="GitHub">
                    <twig:UX:Icon name="bi:github" width="20" height="20" aria-label="GitHub" />
                </a>
            </twig:Navbar:MenuItem>

            <twig:Navbar:MenuItem>
                <a href="https://twitter.com/HugoAlliaume" class="block text-md sm:text-lg hover:text-twitter transition-colors" title="Twitter">
                    <twig:UX:Icon name="bi:twitter" width="20" height="20" aria-label="X (Twitter)" />
                </a>
            </twig:Navbar:MenuItem>

            <twig:Navbar:MenuItem>
                <a href="https://bluesky.dev/hugo.alliau.me" class="block text-md sm:text-lg hover:text-bsky transition-colors" title="Bluesky">
                    <twig:UX:Icon name="simple-icons:bluesky" width="20" height="20" aria-label="BlueSky" />
                </a>
            </twig:Navbar:MenuItem>
        </twig:Navbar:Menu>
    </twig:Navbar>
</header>
