<header{{ attributes.defaults({
    class: 'z-10 sticky top-0 bg-white dark:bg-slate-900 shadow-md print:hidden'
}) }}>
    <div class="container max-w-screen-lg mx-auto px-2 flex items-center gap-x-2 sm:gap-x-5">
        <a href="{{ path(constant('App\\Shared\\Domain\\Route::HOME').value) }}" class="text-lg sm:text-2xl font-bold my-3">
            Hugo Alliaume
        </a>

        {{ knp_menu_render('main', {
            template: 'menu/main.html.twig',
        }) }}

        <ul class="flex sm:gap-x-1">
            <li>
                <a href="https://github.com/Kocal" class="block text-md sm:text-lg p-2 hover:text-primary-700" title="GitHub">
                    <twig:UX:Icon name="bi:github" aria-label="GitHub" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/HugoAlliaume" class="block text-md sm:text-lg p-2 hover:text-primary-700" title="Twitter">
                    <twig:UX:Icon name="bi:twitter-x" aria-label="X (Twitter)" />
                </a>
            </li>
        </ul>
    </div>
</header>
