{% props href, color = 'primary' %}

{% set style_link = cva({
    base: 'font-medium underline',
    variants: {
        color: {
            primary: 'text-primary-700'
        },
    },
}) %}

<a class="{{ style_link.apply({ color }, attributes.render('class') ?? '') }}" {{ attributes.defaults({ href }) }}>
    {{- block('content') -}}
</a>