<div{{ attributes.defaults({
    class: 'bg-white dark:bg-slate-900 shadow-md',
}) }}>
    <div class="container max-w-screen-lg mx-auto flex items-center px-2 sm:px-4 gap-x-3 sm:gap-x-5">
        {% block content %}{% endblock %}
    </div>
</div>
