<twig:Navbar:Nav label="Main" class="flex-1">
    <ul class="flex gap-x-2 sm:gap-x-4">
        {% for child in item.children %}
            {% set is_current = matcher.isCurrent(child) or matcher.isAncestor(child) %}
            <twig:Navbar:NavItem
                :class="'block transition-colors border-t-4 border-b-4 border-transparent hover:border-b-primary-500'
                ~ (is_current ? ' border-b-primary-500')"
            >
                <a
                    href="{{ child.uri }}"
                    class="block py-1 sm:px-1"
                    {% if is_current %}aria-current="page"{% endif %}
                >
                    {{ child.label ?? child.name }}
                </a>
            </twig:Navbar:NavItem>
        {% endfor %}
    </ul>
</twig:Navbar:Nav>
