<twig:Navbar:Nav label="Main" class="flex-1">
    <ul class="flex gap-x-2 sm:gap-x-4">
        {% for child in item.children %}
            {% set is_current = matcher.isCurrent(child) or matcher.isAncestor(child) %}
            <twig:Navbar:NavItem
                :class="'block relative after:absolute after:bg-primary-500 after:w-0 after:h-1 after:bottom-0'
                ~ (is_current ? ' after:w-full')"
            >
                <a
                    href="{{ child.uri }}"
                    class="block py-1 sm:px-1"
                    {% if is_current %}aria-current="page"{% endif %}
                >
                    {{ child.label ?? child.name }}
                </a>
            </twig:Navbar:NavItem>
        {% endfor %}
    </ul>
</twig:Navbar:Nav>
