{% extends 'base.html.twig' %}

{% block title %}Hugo Alliaume's Addresses{% endblock %}


{% block main %}
<main class="container mx-auto p-2 max-w-screen-lg">

    <twig:Card class="p-2 sm:p-4">
        <div data-controller="leaflet" style="height: 400px"></div>
    </twig:Card>

</main>
{% endblock %}
